.leftaboutme {
  width: 30vw;
  background: linear-gradient(
    180deg,
    rgba(223, 165, 144, 1) 0%,
    rgba(225, 186, 172, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  border-radius: 0 15px 0 0;
}
.bgcoloraboutme {
  background-color: #f5ece8;
  overflow-x: hidden; 
}

.rightaboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: #f5ece8;
  animation: 1s ease-out 0s 1 slideInFromRight;

}

.boxcardaboutme{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;

}
.aboutmeinfocard{
    width: 25vw;
    height: 20vh;
    margin: 0 3rem 4.5rem 0;
}

.aboutmetitle {
  font-size: 7rem;
  padding: 3rem;
}
.imgaboutme {
  width: 70%;
  border-radius: 50%;
  margin-top: 2rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }