.fatheradmin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminmodify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminmodify img{
    max-width: 30vw;
}

@media  (max-width: 1300px){

    .fatheradmin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .adminmodify img{
        max-width: 44vw;
    }

}