:root {
  --red900: #53051bff;
  --red700: #870429ff;
  --red500: #ff0352;
  --white: #fdfdfdff;
  --white-2: #fbfdfcff;
  --white-3: #fefefeff;
  --camel: #c0a175ff;
  --bottle-green: #156851ff;
  --bronze: #ce7a36ff;
  --platinum: #e6e7e7ff;
  --artichoke: #a0a08eff;
  --middle-green-yellow: #c1ca81ff;
  --nacexorange: #ff5002;
}

.orangeComp{
  background-color: rgba(252, 145, 96, 0.795);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
  border-radius: .55rem;
}
.LightOrangeComp{
  background-color: rgb(255, 175, 138);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
  border-radius: .55rem;
}