.bannerinfo{
    display: flex;
    background-color: #E1BAAC;
    min-height: 300px;
    max-width: 100vw!important;
    width: 100%;
    padding-top: 50px;
    
}

.imagenpersona{
    border-radius: 50%;
    width: 250px;
}

.leftbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.rightbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
    width: 60%;
}



@media (max-width: 800px){
    .bannerinfo{
        display: flex;
        flex-wrap: wrap;
        background-color: #E1BAAC;
        min-height: 400px;
        max-width: 100vw!important;
        width: 100%;
        padding-top: 3rem;
    }
    .leftbanner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw!important;
    }
    
    .rightbanner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw!important;
        padding: 3rem!important;
    }
}