.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.fontabhaya {
  font-family: "Abhaya Libre", sans-serif;
}

.cardlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 15px;
}

.formlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem!important;
    width: 60vw;
    height: 50vh;
    border-radius: 15px;
    min-height: 300px;
}

.buttonlogin{
    background-color: #E1BAAC!important;
    margin-top: 1rem!important;
}

@media (max-width: 700px){
    .formlogin{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      width: 75vw;
      height: 70vh;
      border-radius: 15px;
  }
  }