



.leftprofile{
    background-color: #e2cac1;
    width: 50vw;
    text-align: center;
    padding: 2rem;

}

.rightprofile{
    background-color: #f3e5df;
    width: 50vw;
    text-align: center;
    padding: 2rem;


}