.fatherpurchase{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 90vh;
}

.leftpurchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
}

.leftimagepurchase{
    max-width: 25vw;
}

.rightpurchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 50vw;
}

.fontsize3rem{
    font-size: 3rem;

}

.fontsize2rem{
    font-size: 2rem;
}

.paybutton{
   background-color: #E1BAAC!important;
   height: 3rem;
}