.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;


}

.fontabhaya {
  font-family: "Abhaya Libre", sans-serif;
}

.cardsignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 15px;
}

.imgSignup {
  width: 100%;
  height: 70vh;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.formsignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem!important;
    width: 60vw;
    height: 50vh;
    border-radius: 15px;
    min-height: 600px;

}

.buttonsignup{
    background-color: #E1BAAC!important;
    margin-top: 1rem!important;
}

@media (max-width: 700px){
  .formsignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 75vw;
    height: 70vh;
    border-radius: 15px;
}
}