.containertherapies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98vw;
    margin-bottom: 2rem;
}

.cardtherapies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 5px #E1BAAC;
    border-radius: 15%;
    height: 250px;
    width: 200px;
    margin: 1.4rem;
}

.cardtherapies:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 5px #E1BAAC;
    border-radius: 15%;
    height: 250px;
    width: 200px;
    margin: 1.4rem;
    color:white;
    background-color: #E1BAAC;
}



.icontherapies{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: red;
}
@media (max-width: 800px){
    .cardtherapies{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0)!important;
        border: solid 5px #E1BAAC!important;
        border-radius: 15%;
        height: 350px;
        width: 80vw;
        margin: 1rem;
    }
    .cardtherapies:hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0)!important;
        border: solid 5px #E1BAAC!important;
        border-radius: 15%;
        height: 350px;
        width: 80vw;
        margin: 1rem;
        color:black;

    }
}